/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
}

/* Start */

@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 500 700 800 900;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* Use transparency for colour variations to match design.look into using `hsla()`. */

  /* Primary  */
  --primary-red: hsl(0, 100%, 67%);
  --primary-yellow: hsl(39, 100%, 56%);
  --primary-teal: hsl(166, 100%, 37%);
  --primary-blue: hsl(234, 85%, 45%);

  --bg-blue-1: hsl(252, 100%, 67%);
  --bg-blue-2: hsl(241, 81%, 54%);

  --secondary-blue-1: hsla(256, 72%, 46%, 1);
  --secondary-blue-2: hsla(241, 72%, 46%, 0);

  /* Gradients */
  --gradient-primary: linear-gradient(var(--bg-blue-1), var(--bg-blue-2) ;);

  --gradient-transparent: linear-gradient(
    var(--secondary-blue-1),
    var(--secondary-blue-2) ;
  );

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --blue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --dark-blue: hsl(224, 30%, 27%);
}

body {
  font-size: 18px;
}

main {
  margin: auto;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
