/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
}

/* Start */

@font-face {
  font-family: "HankenGrotesk";
  font-display: swap;
  font-weight: 100 500 700 800 900;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* Primary  */

  --primary-red: hsl(0, 100%, 67%);
  --primary-yellow: hsl(39, 100%, 56%);
  --primary-teal: hsl(166, 100%, 37%);
  --primary-blue: hsl(234, 85%, 45%);

  --transparent-red: hsla(0, 100%, 67%, 0.07);
  --transparent-yellow: hsla(39, 100%, 56%, 0.07);
  --transparent-teal: hsla(166, 100%, 37%, 0.07);
  --transparent-blue: hsla(234, 85%, 45%, 0.07);

  --bg-blue-1: hsl(252, 100%, 67%);
  --bg-blue-2: hsl(241, 81%, 54%);

  --secondary-blue-1: hsla(256, 72%, 46%, 1);
  --secondary-blue-2: hsla(241, 72%, 46%, 0);

  /* Gradients */

  --gradient-primary: linear-gradient(var(--bg-blue-1), var(--bg-blue-2));

  --gradient-transparent: linear-gradient(
    var(--secondary-blue-1),
    var(--secondary-blue-2)
  );

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --blue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --dark-blue: hsl(224, 30%, 27%);
  --t-dark-blue: hsl(224, 30%, 27%, 0.5);
  --t-white: hsl(0, 0%, 100%, 0.7);
}

body {
  font-size: 18px;
  font-family: "HankenGrotesk", sans-serif;
  color: var(--dark-blue);
}

@media (min-width: 600px) {
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    align-items: end;
  }
}

/* Main Container */

main {
  max-width: 46rem;
  display: grid;
  align-content: center;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    box-shadow: 0.5rem 1rem 3rem var(--t-dark-blue);
    overflow: hidden;
  }
}

/* Result & Summary */

.grid-flow {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.grid-flow[data-spacing="large"] {
  gap: 2rem;
}

/* Result */

.result-container {
  background: var(--gradient-primary);
  color: var(--t-white);
  text-align: center;
  border-radius: 0 0 2rem 2rem;
  padding: 2.5rem calc(2.5rem * 1.5);
}

@media (min-width: 600px) {
  .result-container {
    border-radius: 2rem;
  }
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
}

.score {
  margin-inline: auto;
  width: 12rem;
  background: var(--gradient-transparent);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
}

.score > span {
  color: var(--white);
  display: block;
  font-size: 4.4rem;
  font-weight: 800;
  line-height: 1;
}

.result-name {
  color: var(--white);
  font-size: 2rem;
}

.subtext {
}

/* Summary */

.summary-container {
  padding: 2.5rem;
}

h2 {
  margin-bottom: -0.6rem;
}

.item-container {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.summary-item {
  padding: 0.9rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}

.summary-item[data-item-color="red"] {
  background-color: var(--transparent-red);
}
.summary-item[data-item-color="yellow"] {
  background-color: var(--transparent-yellow);
}
.summary-item[data-item-color="teal"] {
  background-color: var(--transparent-teal);
}
.summary-item[data-item-color="blue"] {
  background-color: var(--transparent-blue);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}

.summary-item[data-item-color="red"] .flex-container {
  color: var(--primary-red);
}
.summary-item[data-item-color="yellow"] .flex-container {
  color: var(--primary-yellow);
}
.summary-item[data-item-color="teal"] .flex-container {
  color: var(--primary-teal);
}
.summary-item[data-item-color="blue"] .flex-container {
  color: var(--primary-blue);
}

.summary-score {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--t-dark-blue);
}

.summary-score > span {
  color: var(--dark-blue);
}

button {
  background: var(--dark-blue);
  color: var(--white);
  line-height: 1;
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

button:hover,
button:focus-visible {
  background: var(--gradient-primary);
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
