/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* START */
:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --dark-violet: hsl(277, 80%, 33%);
  --white: hsl(0, 0%, 100%);
  --75-opacity-white: hsla(0, 0%, 100%, 0.75);
  --60-opacity-white: hsla(0, 0%, 100%, 0.6);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main__container {
  color: var(--white);
  max-width: 330px;
  margin: auto;
}

.hero__img {
  position: relative;
  overflow: hidden;
}

.hero__img::before {
  content: " ";
  width: 100%;
  height: 100%;
  left: 0;
  background-color: var(--dark-violet);
  position: absolute;
  border-radius: 0.5rem 0.5rem 0 0;
  opacity: 0.5;
}

.mobile__img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.desktop__img {
  display: none;
}

.hero__content {
  background-color: var(--dark-desaturated-blue);
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

h1 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.hero__content p {
  color: var(--75-opacity-white);
  line-height: 1.7;
  padding: 0 0.5rem;
}

.insights {
  color: var(--soft-violet);
}

.lower__content {
  margin-top: 2rem;
  text-transform: uppercase;
  color: var(--60-opacity-white);
}

.lower__content p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 2px;
}

.stat_one h2 {
  text-transform: lowercase;
}

.container {
  padding: 0.5rem;
}

h2 {
  color: var(--white);
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1000px) {
  body {
    text-align: left;
  }

  .main__container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1110px;
  }

  .hero__img::before {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .mobile__img {
    display: none;
  }

  .desktop__img {
    min-height: 100%;
    display: block;
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .hero__content {
    flex: 1;
    padding: 4.5rem 6.8rem 3.5rem 4.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  h1 {
    font-size: 2.3rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }

  .hero__content p {
    padding: 0;
  }

  .lower__content {
    margin-top: 4.3rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .container {
    padding: 0;
  }
}
