/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* START */
:root {
  --light-blue: hsl(215, 52%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-transparent: hsl(178, 100%, 50%, 0.5);
  --main-dark-blue: hsl(217, 54%, 11%);
  --card-dark-blue: hsl(216, 50%, 16%);
  --dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--main-dark-blue);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--card-dark-blue);
  max-width: 350px;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.img__container {
  height: auto;
  position: relative;
  overflow: hidden;
}

.hover-eye {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: var(--cyan-transparent);
  border-radius: 0.5rem;
}

.card__img {
  border-radius: 0.5rem;
}

.content__container {
  margin-top: 1.5rem;
  color: var(--light-blue);
  font-weight: 300;
}

h1 {
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.price {
  margin-top: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
}

.text {
  font-size: 1rem;
}

.eth {
  font-weight: 600;
  color: var(--cyan);
}

.icon {
  margin-right: 0.5rem;
  align-self: center;
  height: 18px;
}

.line {
  width: 100%;
  border: 1px solid hsl(215, 51%, 70%, 0.1);
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.name__container {
  display: flex;
  color: var(--light-blue);
  align-items: center;
  font-size: 16px;
  padding-bottom: 6px;
}

.picture {
  margin-right: 1rem;
  border-radius: 50%;
  border: 1px solid var(--white);
  width: 12%;
}

.name {
  color: var(--white);
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.img__container > img,
.img__container > .hover-eye {
  transition: 200ms ease-in-out;
}

.img__container > .hover-eye.fade {
  opacity: 0;
}

.img__container:hover > .hover-eye.fade {
  opacity: 1;
}

h1:hover,
.name:hover {
  cursor: pointer;
  color: var(--cyan);
}
