/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* START */
:root {
  --light-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-dark-blue: hsl(217, 54%, 11%);
  --card-dark-blue: hsl(216, 50%, 16%);
  --dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--main-dark-blue);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card {
  background-color: var(--card-dark-blue);
  width: 330px;
  padding: 1.5rem;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
