/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

/* START */
@font-face {
  font-family: "Fraunces";
  font-display: swap;
  font-weight: 600;
  font-optical-sizing: auto;
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  font-weight: 400;
  font-optical-sizing: auto;
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --bg-color: hsl(273, 85%, 13%);
  --neutral-grey: hsl(271, 12%, 34%);
  --accent-color: hsl(150, 100%, 63%);
  --off-white: hsl(274, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --underline: 4px;
}

body {
  /* color: var(--white); */
}

header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.underline {
  border-bottom: var(--underline) solid var(--accent-color);
}

.call-to-action {
  background-color: var(--accent-color);
  border: none;
  padding: ;
}

main {
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
