/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

/* START */
@font-face {
  font-family: "Fraunces";
  font-display: swap;
  font-weight: 600;
  font-optical-sizing: auto;
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  font-weight: 400;
  font-optical-sizing: auto;
  src: url("./assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* colors */
  --bg-color: hsl(273, 85%, 13%);
  --neutral-grey: hsl(271, 12%, 34%);
  --accent-color: hsl(150, 100%, 63%);
  --off-white: hsl(274, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --underline: 4px;
  /* font-weight */
  --normal: 400;
  --semi-bold: 600;
  /* font-size */
  --heading-L: 5rem;
  --heading-M: 3.5rem;
  --heading-S: 2rem;
  --body: 1.125rem;
  /* line-height/letter-spacing */
  --line-height-L: 5rem;
  --line-height-M: 4rem;
  --line-height-S: 2.5rem;
  --line-height-body: 2rem;
}

body {
  font-family: "Manrope", sans-serif;
  line-height: 2rem;
  text-align: center;
}

header {
  padding: 2.5rem 1rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.hero-container {
  position: relative;
  display: flex;
  gap: 40px;
}

.hero-container::before {
}

.underline {
  /* border-bottom: var(--underline) solid var(--accent-color); */
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

.underline:hover {
  color: var(--accent-color);
}

.call-to-action {
  background-color: var(--accent-color);
  border: none;
  font-weight: var(--semi-bold);
  padding: 1rem 1.5rem;
}

.call-to-action:hover {
  color: var(--accent-color);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

main {
  margin: auto;
}

.hero-container {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: var(--semi-bold);
  font-size: 50px;
  font-family: "Fraunces", serif;
  color: var(--white);
  line-height: var(--line-height-M);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
