/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
li,
ul {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* START */
:root {
  --light-cyan: hsl(179, 47%, 52%);
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: rgb(255, 255, 255);
}

body {
  font-size: 1rem;
  font-family: "Karla", sans-serif;
  background-color: var(--grayish-blue);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-container {
  margin: auto;
  max-width: 19.4rem;
  display: grid;
}

h2 {
  font-size: 1.2rem;
}

.content {
  padding: 1.5rem;
}

.grid-one {
  background-color: var(--white);
}

.sub-text {
  color: var(--bright-yellow);
  font-weight: 700;
}

.text-one {
}

.grid-two {
  background-color: var(--cyan);
  color: var(--light-gray);
}

.grid-three {
  background-color: var(--light-cyan);
  color: var(--light-gray);
}

.font-color {
  color: var(--cyan);
}

li {
  list-style-type: none;
}

button {
  background-color: var(--bright-yellow);
  border: none;
  color: inherit;
  padding: 1rem 6.2rem;
  border-radius: 0.4rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
