/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Start */
:root {
  /* Primary */
  --violet: hsl(263, 55%, 52%);
  --dark-gray-blue: hsl(217, 19%, 35%);
  --black-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  /* Neutral */
  --light-gray: hsl(0, 0%, 81%);
  --light-gray-blue: hsl(210, 46%, 95%);
}

body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
