/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
}

/* Start */

:root {
  --primary: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --card-blue: hsl(215, 27%, 12%);
  --dark-blue: hsl(213, 19%, 18%);
  --darker-blue: hsl(216, 12%, 8%);
  --bg: hsl(228, 11%, 9%);

  --font: "Overpass", sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--medium-grey);
  font-family: var(--font);
  font-size: 15px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.card {
  max-width: 375px;
  text-align: left;
  background-color: var(--card-blue);
  border-radius: 1rem;
  padding: 1.6rem;
}

.star {
  background-color: var(--dark-blue);
  border-radius: 50%;
  border: none;
  padding: 0.7rem;
  max-width: 2.7rem;
}

.circle {
  border: none;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

h1 {
  color: var(--white);
  margin: 1.2rem 0 0.55rem 0;
  letter-spacing: 0.03rem;
}

p {
  font-size: 14px;
}

ul {
  margin-top: 1.75rem;
  display: flex;
  gap: 1.1rem;
}

.btn-num {
  color: var(--medium-grey);
  width: 42px;
  height: 42px;
  line-height: 1;
}

.btn-num:hover {
  background-color: var(--medium-grey);
  color: var(--white);
}

.btn-num:active {
  background-color: var(--primary);
}

.btn-submit {
  background-color: var(--primary);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  margin-top: 1.5rem;
  border: none;
  padding: 0.75rem 6.8rem;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
}

.btn-submit:hover {
  background-color: var(--white);
  color: var(--primary);
}

.attribution {
  flex: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
