/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */

img,
picture {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  shape-margin: 1rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
}

/* START */

:root {
  /* Primary */
  --primary-blue: hsl(238, 29%, 16%);
  --primary-red: hsl(14, 88%, 65%);

  /* Gradient */
  --bg-gradient: linear-gradient(var(--gradient-violet), var(--gradient-blue));
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);

  /* Neutral */
  --black: hsl(0, 0, 0);
  --white: hsl(0, 0%, 100%);
  --neutral-1: hsl(237, 12%, 33%);
  --neutral-2: hsl(240, 6%, 50%);

  /* Accent */
  --light-blue: hsl(240, 5%, 91%);

  /* Font Weight */
  --font-400: 400;
  --font-700: 700;
}

body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background: var(--bg-gradient);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
  background-color: var(--white);
  max-width: 20rem;
  border-radius: 1.2rem;
  box-shadow: 0px 25px 50px -1px rgba(0, 0, 0, 0.4);
}

/* Image Styles */

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-img,
.hero-shadow {
  /* width: 13.5rem; */
  position: absolute;
}

.box-desktop {
  display: none;
}

.hero-img {
  z-index: 1;
  top: -6rem;
}

.hero-shadow {
  z-index: 1;
  top: -7.4rem;
}

/* Accordion Styles */

.accordion-container {
  max-width: 18.5rem;
  min-width: 18.5rem;
  padding: 7.2rem 1.3rem 2.7rem 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}

/* Accordion */

details {
  border-bottom: solid 1px var(--light-blue);
}

details > summary {
  margin-bottom: 0.8rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details > summary:hover {
  color: var(--primary-red);
  cursor: pointer;
}

details[open] summary {
  font-weight: var(--font-700);
  margin-bottom: 0.45rem;
}

details[open] summary > img {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

details summary > img {
  transform: rotate(-360deg);
  transition: transform 0.2s ease-in-out;
}

.sub-text {
  color: var(--neutral-2);
  padding-right: 2rem;
  font-size: 11px;
}

details[open] .sub-text {
  margin-bottom: 1rem;
}

/* Desktop Styles */

@media (min-width: 56rem) {
  .box-desktop {
    max-width: 10.8rem;
    position: absolute;
    top: 57%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    z-index: 5;
  }

  main {
    position: relative;
    display: flex;
    padding: 3.4rem 0rem 4.5rem 0rem;
    /* flex-direction: row; */
    max-width: 80rem;
  }

  .img-container {
    padding: 10rem;
    overflow: hidden;
  }

  .hero-img,
  .hero-shadow {
    width: 30rem;
    position: absolute;
    left: -5rem;
  }

  .hero-img {
    top: 2rem;
    background-image: url("./images/illustration-woman-online-desktop.svg");
  }

  .hero-shadow {
    background-image: url("./images/bg-pattern-desktop.svg");
  }

  .accordion-container {
    padding: 0;
    margin-top: 0;
  }

  h1 {
    text-align: left;
    margin-bottom: 0.8rem;
  }

  details > summary {
    font-size: 0.8rem;
  }

  .sub-text {
    padding-right: 0rem;
  }
}

/* Footer  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
