/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */

img,
picture {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  shape-margin: 1rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none;
}

/* START */

:root {
  /* Primary */
  --primary-blue: hsl(238, 29%, 16%);
  --primary-red: hsl(14, 88%, 65%);

  /* Gradient */
  --bg-gradient: linear-gradient(var(--gradient-violet), var(--gradient-blue));
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);

  /* Neutral */
  --black: hsl(0, 0, 0);
  --white: hsl(0, 0%, 100%);
  --neutral-1: hsl(237, 12%, 33%);
  --neutral-2: hsl(240, 6%, 50%);

  /* Accent */
  --light-blue: hsl(240, 5%, 91%);

  /* Font Weight */
  --font-400: 400;
  --font-700: 700;
}

body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background: var(--bg-gradient);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
  background-color: var(--white);
  max-width: 35rem;
  padding: 1.5rem;
  border-radius: 1.2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-img,
.hero-shadow {
  width: 15.5rem;
  position: relative;
}

.hero-img {
  /* top: -8.5rem; */
  bottom: -8.5rem;
}

.hero-shadow {
  /* top: -13rem; */
  bottom: -4rem;
}

.hero-img {
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
}

details {
  border-bottom: solid 1px var(--light-blue);
}

.sub-text {
  color: var(--neutral-2);
}

details > summary {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details > summary:hover {
  color: var(--primary-red);
  cursor: pointer;
}

details[open] summary {
  font-weight: var(--font-700);
}

details[open] summary > img {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}

details summary > img {
  transform: rotate(-360deg);
  transition: transform 0.2s ease-in-out;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
