/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
/* START */
:root {
  --cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --gray: hsl(0, 0%, 59%);
  --gray-blue: hsl(227, 10%, 46%);
}

body {
  background-color: var(--cyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, repeat;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  border-radius: 14px;
}

.bg-img {
  border-radius: 14px 14px 0px 0px;
  width: 100%;
}

.user-img {
  border-radius: 50%;
  border: 6px solid white;
}

.card-container > p,
.stat > p {
  color: var(--gray-blue);
}

h1 {
  font-size: 18px;
  font-weight: 700;
}

h1 > span {
  color: var(--gray);
}

.line {
  color: var(--gray);
}

.stat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
